:root[data-theme="light"] {
  --bg: var(--bg-light);
  --bg-sub: var(--bg-sub-light);
  --panel: var(--panel-light);
  --heading: var(--heading-light);
  --paragraph: var(--paragraph-light);
  --text: var(--text-light);
  --brand: var(--brand-light);
  --line: var(--line-light);
}

:root[data-theme="dark"] {
  --bg: var(--bg-dark);
  --bg-sub: var(--bg-sub-dark);
  --panel: var(--panel-dark);
  --heading: var(--heading-dark);
  --paragraph: var(--paragraph-dark);
  --text: var(--text-dark);
  --brand: var(--brand-dark);
  --line: var(--line-dark);
}

:root {
  --bg: var(--bg-light);
  --bg-sub: var(--bg-sub-light);
  --panel: var(--panel-light);
  --heading: var(--heading-light);
  --paragraph: var(--paragraph-light);
  --text: var(--text-light);
  --brand: var(--brand-light);
  --line: var(--line-light);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --bg: var(--bg-dark);
    --bg-sub: var(--bg-sub-dark);
    --panel: var(--panel-dark);
    --heading: var(--heading-dark);
    --paragraph: var(--paragraph-dark);
    --text: var(--text-dark);
    --brand: var(--brand-dark);
    --line: var(--line-dark);
  }
}
