:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
}
