:host {
  display: contents;
}

.ui-stack {
  display: flex;
  gap: var(--gap, 16px);
}

.ui-stack.vertical {
  flex-direction: column;
}
.ui-stack.horizontal {
  flex-direction: row;
}

.ui-stack.align-start {
  align-items: flex-start;
}
.ui-stack.align-center {
  align-items: center;
}
.ui-stack.align-end {
  align-items: flex-end;
}
.ui-stack.justify-start {
  justify-content: flex-start;
}
.ui-stack.justify-center {
  justify-content: center;
}
.ui-stack.justify-end {
  justify-content: flex-end;
}
.ui-stack.justify-between {
  justify-content: space-between;
}
.ui-stack.justify-around {
  justify-content: space-around;
}
.ui-stack.justify-evenly {
  justify-content: space-evenly;
}
